*{

    text-decoration: none;
    list-style: none;
    color: black;
    margin: 5px;
    font-size: 18px;
    padding: 0px;
   margin: 0px;
}
body{
    background-color: white;
}
li{
    margin-left: 12px;

}
h4{
    color: rgb(16, 131, 197);
}
nav{
    height: 50px;
   background-color: white;
   box-shadow: 0 5px 5px rgba(0, 0, 0, 0.37);
}
.nav-center{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 50px;
    align-items: center;
    
   
}

.nav-links{
    display: flex;
    flex-direction: row;
    margin-left: 45px;
    
}
main{
    text-align: center;
}
h2{
    color: white;
    margin-top: 150px;
    font-size: 26px;
    background-color: black;
    padding: 30px;
}
span{
    font-size: 26px;
    color: rgb(16, 131, 197);
}

button{
font-weight: 600;
margin-top: 20px;
background-color: white;
width: 100px;
height: 35px;
border: solid 2px black;
border-radius: 10px;
transition-timing-function: ease-in-out;


}
button:hover{
    transition: 0.5s;
    color: white;
    background-color: black;
    cursor: pointer;
}